<div class="bar">
    <div [ngStyle]="value >= 0.9 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.8 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.7 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.6 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.5 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.4 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.3 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.2 ? {'backgroundColor': color} : null" ></div>
    <div [ngStyle]="value >= 0.1 ? {'backgroundColor': color} : null"></div>
    <div [ngStyle]="value > 0 ? {'backgroundColor': color} : null"></div>
</div>