<div>
    <div>
        <img src="" alt="">
        <div>
            <div>
                <p>{{}}/350W</p>
                <p>{{}}W/h</p>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div>
        <app-progress-circular [value]="value" image="../../../assets/progress/bi_battery-full.svg"></app-progress-circular>
        <app-progress-circular [value]="value" image="../../../assets/progress/bi_battery-charging.svg"></app-progress-circular>
    </div>
</div>
