<app-vertical-bar [value]="value" [color]="'yellow'" ></app-vertical-bar>
<!-- <app-clock-v1 [value]="value" [scale]="0.5"></app-clock-v1> -->
<app-progress-circular [value]="value" image="../../../assets/progress/bi_battery-full.svg"></app-progress-circular>
<app-progress-circular [value]="value" image="../../../assets/progress/bi_battery-charging.svg"></app-progress-circular>
<app-progress-circular [value]="value"></app-progress-circular>
<app-progress-circular [value]="value"></app-progress-circular>
